div#category-title{
    h4{
        font-family: Owsald, sans-serif;
        color: #070707;
        letter-spacing: 1px;
    }
}

section#category{
    a{
        color: #070707;
        text-decoration: none;
    }
}
